.wrapper {
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    transition: all 0.2s;
}

.wrapper p {
    display: flex;
    align-self: center;
}

.wrapper:hover {
    background-color: rgb(219, 217, 217);
}

.wrapper:active {
    filter: brightness(80%);
}